@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
